include nobrainerzoo/neuronets/brainy/*.yaml
include nobrainerzoo/neuronets/brainy/*/*.yaml
include nobrainerzoo/neuronets/ams/*.yaml
include nobrainerzoo/neuronets/brainy/*/*.yaml
include nobrainerzoo/model_database.json
